button{
  margin: 5px;
}

body{
  background-image: url("http://wallpapercave.com/wp/8xghT8f.jpg");
  color: white;
}

.well{
  background-color: #83efc6;
  color:black;
}

#output{
  display: none;
}

.ruby{
  display: none;
}

.php{
  display: none;
}

.javaAnd{
  display: none;
}

.cssDesign{
  display: none;
}
.cSharp{
  display: none;
}

.seattle{
  display: none;
}

.portland{
  display: none;
}

img#banner{
  width: 100%;
}

img{
  width: 75%;
}
